<div class="container">
    <div class="row">

<div >
    
    
            <div class=" col-4">
                <input type="text" class="form-control" id="id" name="id" (change)="idChange($event)" placeholder="id">
            </div><br>
    
            <div class="col-4">
                <input type="text" class="form-control" id="pwd" name="pwd" (change)="pwdChange($event)"  placeholder="password">
            </div><br>
    
            <div class=" col-4">
                <button class="btn btn-primary" (click)="login()">login</button>
            </div>
            
</div>

        <div class="div col-4"></div>
        <div class="div col-4"></div>
    </div>
</div>
