<div class="container">

    {{hell}}


    <div class="row">

<h2>{{aim}}</h2>

<div>

 
<div>
    <label for="id">id</label>
        <input type="text"  class="form-control" id="id" name="id" placeholder="id">
</div>

</div>  

<div>
    <label for="name">Name</label>
    <input type="text" class="form-control" id="uname" name="uname" placeholder="Name">

</div> 


 <div>
     <label for="password">password</label>
    <input type="text" class="form-control" id="pwd"  name="pwd" placeholder="Password">

 </div>

<div>
    <label for="job">job Name</label>
    <input type="text" class="form-control" id="job" name="job" placeholder="job Name">

</div>  

      <div class="col-5">
          <button class="btn btn-warning" (click)="register()" >register</button>
      </div>

    </div>


</div>




